*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.circulo {
    width: 100vw;
    height: 200px;
    background-color: rgb(108, 217, 199);
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.circulo div{
    width: 100px;
    height: 100px;
    background-color: rgba(52, 127, 127, 0.658);
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(70, 107, 216, 0.715);
    
}